<div class="card">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0"
               >
          <tbody>
            <tr *ngFor="let aspect of aspects" (click)="selectAspect(aspect)">
              <td>
                  {{ aspect.name }}
              </td>
              <td>
                <button class="btn btn-outline-primary btn-sm"
                  [routerLink]="['/aspects', aspect.id]">
                  Edit
                </button>
              </td>
              <td>
                <button class="btn btn-outline-primary btn-sm" 
                  (click)="deleteAspect(aspect.id)">
                  Delete
                </button>
              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <td>
                <button class="btn btn-primary btn-sm"
                  [routerLink]="['/aspects', '-1']">
                  Add Aspect
                </button>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</div>
