<div class="card">
    <div class="card-header">
      {{cardTitle}}
    </div>
    <div class="card-body">
        <form novalidate
        (submit)="save()" 
            [formGroup]="aspectForm">
            <div class="form-group row mb-2"> 
                <label class="col-md-2 col-form-label"
               for="aspectNameId">Aspect</label>
               <div class="col-md-8">
                <input class="form-control"
                id="aspectName"
                type="text"
                placeholder="Aspect Name (required)"
                formControlName="aspectName"
                [ngClass]="{'is-invalid': (aspectForm.get('aspectName').touched ||
                                           aspectForm.get('aspectName').dirty) &&
                                           !aspectForm.get('aspectName').valid }" />
               </div>
            </div>
            <div class="col-mb-2">
              <div class="row mb-2">
                <div class="col-md-4">
                  <button class="btn btn-outline-primary"
                          type="button"
                          [title]="layersets.valid ? 'Add layerset' : 'Disabled until the existing layerset name is valid'"
                          [disabled]="!aspectForm.get('aspectName').valid"
                          (click)="addLayerset()">
                    Add Layerset
                  </button>
                </div>
              </div>
              <hr/>
              <div>Layersets:</div>
              <br/>
              <div class="left">
                <ul class="list-unstyled" formArrayName="layersets"> 
                  <li [formGroupName]="i"
                    *ngFor="let layerset of layersets.controls; let i=index">
                    <div class="form-group row mb-2" >
                    <label class="col-md-2 col-form-label"
                      for="i">Name</label>
                      <div class="col-md-6">
                    <input class="form-control"
                             id="layersetNameId"
                             type="text"
                             placeholder="Layerset Name (required)"
                             formControlName="layersetName"
                             [ngClass]="{'is-invalid': ((layerset.controls.layersetName.touched || 
                                                        layerset.controls.layersetName.dirty) && 
                                                        !layerset.controls.layersetName.valid) || aspectForm.errors?.duplicates }">
                      </div>
                      <div class="col-md-4">
                    <button class="btn btn-outline-primary" (click)="removeAt(i)">X</button>
                      </div>
                    <span class="invalid-feedback">
                      <span *ngIf="layerset.controls.layersetName.errors?.required">
                          Please enter a layerset name.
                      </span>
                    </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="aspectForm.errors?.duplicates">Duplicates found among layerset names</div>
            <hr/>
            <div class="form-group row mb-2">
              <div class="col-md-2">
                <button class="btn btn-primary mr-3"
                        type="submit"
                        style="width:80px"
                        [title]="aspectForm.valid ? 'Save this aspect' : 'Disabled until the form data is valid'">
                    Save
                </button>
              </div>
              <div class="col-md-2">
                <button class="btn  btn-primary mr-3"
                        (click)="cancel()"
                        type="button"
                        style="width:80px"
                        [title]="'Cancel aspect'">
                      Cancel
                </button>
              </div>
            </div>
        </form>
    </div>
</div>
