<nav class="navbar navbar-light bg-light" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-auto" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" (click)="setMode('concept')">+Concept</button>
      <button type="button" class="btn btn-secondary" (click)="setMode('influence')">+Influence</button>
      <button type="button" class="btn btn-secondary" (click)="setMode('delete')">Delete</button>
    </div>
    
    <form  *ngIf="create" [formGroup]="vectorForm" class="form-inline my-2 my-lg-0" role="group" aria-label="Aspect group">
        <div *ngFor="let aspect of aspects" class="form-group">
          <label class="control-label col-sm-offset-2" for={{aspect.name}}>{{aspect.name}}</label>
          <div class="col-sm-6 ">
            <select formControlName={{aspect.name}} id={{aspect.name}} name={{aspect.name}} class="form-control">
              <option *ngFor="let layer of aspect.layerSet">{{layer}}</option>
            </select>
          </div>
        </div>
    </form>
    <form *ngIf="!create" [formGroup]="vectorForm" class="form-inline my-2 my-lg-0" role="group" aria-label="Aspect group">
      <div *ngFor="let aspect of aspects;let indx = index;" class="form-group">
        <label class="control-label col-sm-offset-2" for={{aspect.name}}>{{aspect.name}}</label>
        <div class="col-sm-6 ">
          <select formControlName={{aspect.name}} id={{aspect.name}} name={{aspect.name}} class="form-control">
            <option selected="'{{coords[indx]}}'">{{coords[indx]}}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="btn-group mr-auto" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary" (click)='writeLayer()'>Upload</button>
    </div>
</nav>
<hr/>
<div class="row" >
  <div class="col-md-6" >
    <div class="card" id="actorcard">
      <div class="card-header">
        Sources
      </div>
      <div class="card-body">
        <form [formGroup]="actorForm"  role="group" aria-label="Aspect group">
          <div class="form-group">
            <div class="row ">
              <div class="col">
                <label class="control-label" for="system">Actors</label>
                <select  formControlName="actors" id="actors" name="actors" class="form-control">
                  <option *ngFor="let actor of actors">{{actor.name}}</option>
                </select> 
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" *ngIf="mode==='influence'" id="targetcard">
      <div class="card-header">
        Targets
      </div>
      <div class="card-body">
        <form [formGroup]="targetForm"  role="group" aria-label="Aspect group">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label class="control-label" for="targets">Actors</label>
                <select  formControlName="targets" id="targets" name="targets" class="form-control">
                    <option *ngFor="let actor of actors">{{actor.name}}</option>
                </select>
              </div>
              <div class="col">
                <label class="control-label" for="weight">Weight</label>
                <input formControlName="weight" class="form-control " min="-1" max="1" id="weight" name="weight"
                  type="number" value="0"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="margin:0; padding:0">
  <canvas #canvas></canvas>
</div>
<!--<textarea style="width:800px;height:500px" id="GML" name="GML">{{GML}}</textarea>-->



