<div class="card" >
    <div class="card-header">
      FCM Execution
    </div>
    <div class="form-group card-body">
        <form class="md-4">
            <div class="form-group row md-2">
                <label for="name" class="col-md-1 col-form-label">States: </label>
                <input class="form-control col-md-2" name="stateCt" id="stateCt" [(ngModel)]="genCt" min="1" type="number" placeholder="# of iterations (required)"/>
            </div>
        </form>
        <div class="form-group">
            <button name="writeBtn" (click)="upload()" class="btn btn-outline-secondary btn-sm">
                Upload
            </button>
            <button class="btn btn-outline-primary btn-sm app-btn-offset"  (click)="runNetwork()">
                Get States
            </button>
            <button class="btn btn-outline-danger btn-sm app-btn-offset" (click)="deleteNetwork()">
                Delete
            </button>
            <span class="error-message" *ngIf="errorMsg !=''">{{errorMsg}}</span>   
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <app-concepts-aggregate [conceptStates]="states" (conceptSelected)="select($event)"></app-concepts-aggregate>
            </div>
            <div class="col-md-8">
                <app-concepts-details [conceptState]="currentState"></app-concepts-details>
            </div>
        </div>
    </div> 
    <!-- uncomment along with code in component.writeLayer() for debugging GML -->
    <!--<textarea height="300" width="500" id="gml" height="1000px"></textarea>-->
</div>
